<div class="toolbar" *ngIf="isMenuVisible" role="banner">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Welcome</span>
    <a mat-button routerLink="">Home</a>
    <a *ngIf="isadmin" mat-button routerLink="/user">User</a>
    <a mat-button routerLink="/customer">Customer</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/login">Logout</a>
  </mat-toolbar>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item *ngIf="isadmin" routerLink="/user">
      <mat-icon>person</mat-icon>
      <span>User</span>
    </button>
    <button mat-menu-item routerLink="/customer">
      <mat-icon>people</mat-icon>
      <span>Customer</span>
    </button>
    <!-- Add more menu items as needed -->
  </mat-menu>
  </div>
  
  <div class="content" style="width: 100%; display: block;" role="main">
    <router-outlet></router-outlet>
  </div>
  