<div mat-dialog-title>
    <h1>Registration</h1>
</div>
<form [formGroup]="registerform" (ngSubmit)="proceedregister()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" placeholder="User Name" formControlName="id">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Ex. Babaji" formControlName="name">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Ex. test@gmail.com" formControlName="password">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="others">Others</mat-radio-button>
            </mat-radio-group>
        </div>       
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary">Submit</button>
    </div>
</form>